@media screen and (min-width: 501px) and (max-width: 1024px){
    .all-product{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .all-product .header-big h1{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .all-product .basic{
        margin-top: 20px;
    }
    .container .list{
        margin-left: -150px;
    }
    .handbag{
        display: flex;
        flex-direction: row;
        gap: 100px;
    }
    .handbag .handbag-products{
        width: 120px;
    }
    .handbag .image img{
        width: 500px;
        margin-top: 150px;
    }
    .site-benefits .container{
        display: grid;
        grid-template-columns: auto auto;
    }
    .site-benefits .container .delivery{
        margin-left: -25px;
    }
    .site-benefits .container .safe{
        margin-top: 10px;
        margin-left: -25px;
    }
    .site-benefits .container .payment{
        margin-top: 12px;
        margin-left: 15px;
    }
    .container .bags{
        display: grid;
        grid-template-columns: auto auto;
        margin-left: -40px;
    }
    .container .bags .shoulder-bag-1{
        width: 370px;
    }
    .container .bags .shoulder-bag-1 img{
       width: 170px;
       margin-left: 190px;
    }
    .container .bags .shoulder-bag-2{
        width: 370px;
    }
    .container .bags .shoulder-bag-2 img{
       width: 170px;
       margin-left: 190px;
    }
    .container .bags .shoulder-bag-3{
        width: 370px;
    }
    .container .bags .shoulder-bag-3 img{
       width: 170px;
       margin-left: 190px;
    }
    .container .bags .shoulder-bag-4{
        width: 370px;
    }
    .container .bags .shoulder-bag-4 img{
       width: 170px;
       margin-left: 190px;
    }
    .container .featured .header-main{
        width: 750px;
        margin-left: -50px;
        margin-bottom: 20px;
    }
    .container .featured .header-main p{
        margin-top: 15px;
    }
    .container .featured .featured-products{
        display: grid;
        grid-template-columns: auto auto;
        margin-left: -50px;
    }

     .features .feature .header-main{
        width: 750px;
        margin-left: -50px;
        margin-bottom: 20px;
    }
    .features .feature .header-main p{
        margin-top: 15px;
    }
    .features .feature .feature-products{
        display: grid;
        grid-template-columns: auto auto;
        margin-left: -50px;
    }
    .finally .header-middle{
        position: relative;
    }
    .finally .header-middle input{
        width: 320px;
    }
    .finally .header-middle span{
        position: absolute;
        left: 680px;
    }
    .finally .header-middle h2{
        margin-left: -120px;
    }
    .container .final{
        display: flex;
        flex-direction: row;
        gap: 120px;
    }
    .container .final .wise{
        margin-left: -75px;
    }
    .container .final .snobella-about{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
}